body {
    margin: 0;
    padding: 0;
    background-image: url("Background/Kirby-Background.jpg"); 
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;  
    color: rgb(0, 0, 0);
    text-align: center;
}